* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App {
  text-align: center;
}

/* todolist displaying */
h1 {
  background-color: purple;
  color: white;
  padding: 15px;
}
.todo-display {
  /* border: 1px solid grey; */
  width: 35%;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  margin: auto;
}

/* .todo-display img {
  /* padding: 10px; */

.todo-display img:hover {
  color: purple;
}

.todo-list-items {
  border: 1px solid #ecf0f1;
  /* box-shadow: 1px 2px 26px 5px rgba(0, 0, 0, 0.14);
   */
  box-shadow: 1px 2px 15px -2px rgba(0, 0, 0, 0.35);
  background-color: #ecf0f1;

  border-radius: 5px;
  height: 100px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  /* display: flex; */
  align-items: center;
  background-size: cover;
  margin-top: 18px;
  /* font-size: 20px; */
}

.todo-button .Lcheckbox {
  /* margin-left: 20px; */

  height: 22px;
  width: 22px;
  position: relative;
  top: 7px;
}

.todo-buttons {
  border: 1px solid purple;
}

/* Todo list adding */

.add-todo {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 30%;
  /* border: 2px solid black; */
}

.add-todo input {
  padding: 5px;
  /* width: 200px; */
  width: 70%;
  height: 40px;
  /* border-radius: 25%; */
  /* border: none; */
}

.add-todo button {
  width: 28%;
  background-color: #3498db;
  color: white;
  border: none;
}

.add-todo button:hover {
  background-color: #2980b9;
}

h3 {
  margin-left: 20px;
  /* border: 1px solid blue; */
}

.todo-button {
  /* border: 1px solid brown; */
  width: 180px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  right: 20px;
}
.todo-button .edit-btn {
  font-size: 16px;
  padding: 6px 13px;
  background-color: #2bb866;
  border: none;
  border-radius: 5px;
  color: white;
}

.edit-btn:hover {
  background-color: green;
}

.todo-button .delete-btn {
  padding: 6px 8px;
  font-size: 16px;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
}

.delete-btn:hover {
  background-color: rgb(156, 9, 9);
}
