body {
  margin: 0;
  padding: 0;
  background-color: #f1f2f6;
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: #dfe6e9;
  margin: 50px auto;
  margin-top: 50px;
  height: 390px;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 0 20px 2px #2d3436;
  justify-content: space-evenly;
}

.info {
  display: flex;
  width: 60%;
  margin: 50px auto;
}

.booked {
  padding-top: 5px;
  background-color: #3d0a53;
  width: 50%;
  color: white;
}

.available {
  padding-top: 5px;
  background-color: #852eaa;
  width: 50%;
  color: white;
  justify-content: center;
}

h1 {
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 5px;
}
.bookseat,
.availableseat {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 15px;
}
.box {
  background-color: #852eaa;
  margin: auto;
  padding: 20px;
  height: 20px;
  width: 12.9%;
}

.box:hover {
  opacity: 0.8;
}

#box-6,
#box-12,
#box-18,
#box-21,
#box-24,
#box-30,
#box-36 {
  margin-right: 2px;
}

.clicked {
  background-color: #3d0a53;
}
